# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\danit\Java\snake-servers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
